
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        table {
            background-color: #fff;
            border-collapse: collapse;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 100%;
            max-width: 600px;
            margin: 20px;
        }
        th {
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 1em;
        }
        td {
            padding: 1em;
            text-align: left;
        }
        td[colspan="3"] {
            text-align: center;
        }
        input[type="text"], input[type="email"], select {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="radio"], input[type="checkbox"] {
            margin-right: 10px;
        }
        .btnenviar {
            background: #4CAF50;
            color: white;
            padding: 10px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .btnenviar:hover {
            background-color: #45a049;
        }
        label {
            margin-right: 20px;
        }
  